@import "tailwindcss";

@theme {
  --color-bg: #000000;          /* fondo negro sólido */
  --color-brand: #e2012d;       /* rojo estilo T1 */
  --color-brand-600: #b80f25;

  --color-ashes-50: #f5f7fa;
  --color-ashes-100: #eaeef3;
  --color-ashes-300: #c5cbd6;
  --color-ashes-700: #1f2937;

  --font-sans: "Inter", system-ui, sans-serif;
}

/* Fondo: negro + un toque muy sutil de luz roja (opcional) */
body {
  background-color: #000;
  background-image:
    radial-gradient(45% 60% at 70% 0%, rgba(226,1,45,.10), transparent 60%),
    radial-gradient(30% 40% at 0% 100%, rgba(255,255,255,.03), transparent 60%);
  font-family: var(--font-sans);
}
